.waveForward-enter-setup,
.waveForward-leave-setup,
.waveBackward-enter-setup,
.waveBackward-leave-setup,
.fade-enter-setup,
.fade-leave-setup
{
	@include trans(300ms);

	.hide-on-animate {
		display:none;
	}
}

.waveForward-leave-setup {
	right:0;
}

.waveForward-enter-setup.waveForward-enter-start {
	position:absolute;
	right:0;
}


.waveForward-enter-setup {
	right:-100%;
}

.waveForward-leave-setup.waveForward-leave-start {
	position:absolute;
	right:100%;
}

.waveBackward-leave-setup {
	left:0;
}

.waveBackward-enter-setup.waveBackward-enter-start {
	position:absolute;
	left:0;
}

.waveBackward-enter-setup {
	left:-100%;
}

.waveBackward-leave-setup.waveBackward-leave-start {
	position:absolute;
	left:100%;
}


// fade
.fade-enter-setup,
.fade-leave-setup.fade-leave-start {
  @include opacity(0);
}
.fade-leave-setup,
.fade-enter-setup.fade-enter-start {
  @include opacity(100);
}


// iOS style navbar animation for wave
.waveForward-enter-setup .navi-bar-title, .waveForward-leave-setup .navi-bar-title, .waveBackward-enter-setup .navi-bar-title, .waveBackward-leave-setup .navi-bar-title {
	[class*="navi-button"], h1.title {
		// @include trans(300ms);
	}
}

.waveForward-leave-setup .navi-bar-title {
	// right:0;
	[class*="navi-button"], h1.title {
		@include opacity(1);
	}
}

.waveForward-enter-setup.waveForward-enter-start .navi-bar-title {
	// position:absolute;
	// right:0;
	[class*="navi-button"], h1.title {
		@include opacity(1);
	}
}


.waveForward-enter-setup .navi-bar-title {
	[class*="navi-button"], h1.title {
		@include opacity(0);
	}

	// right:-100%;
}

.waveForward-leave-setup.waveForward-leave-start .navi-bar-title {
	// position:absolute;
	// right:100%;
	[class*="navi-button"], h1.title {
		@include opacity(0);
	}
}



