// borders
.light-border-top {
	border-top: 1px solid #f1f1f1;
}


.light-border-bottom {
	border-bottom: 1px solid #dedede;
}

.white-border-top {
	border-top: 1px solid #fff;
}

.med-border-top {
	border-top: 1px solid #5f5f5f;
}

.med-border-bottom {
	border-top: 1px solid #5f5f5f;
}

.med-border-right {
	border-right: 1px solid #444;
}

.med-border-left {
	border-left: 1px solid #444;
}