// borders

.border-ninja {
	position: relative;
}

.border-ninja:before {
	content: '';
	height: 100%;
	position: absolute;
	display: block;
}

.border-ninja.left-light:before {
	border-left: 1px solid #dedede;
	left:0;
	top:0;
}

.border-ninja.right-light:before {
	border-right: 1px solid #dedede;
	right:0;
	top: 0;
}

.white-border-1 {
	border: 1px solid #FFF;
}

.white-border-2 {
	border: 2px solid #FFF;
}
.light-border-top {
	border-top: 1px solid #f1f1f1;
}

.light-border {
	border: 1px solid #dedede;
}


.light-border-bottom {
	border-bottom: 1px solid #dedede;
}

.light-border-right {
	border-right: 1px solid #dedede;
}

.light-border-left {
	border-left: 1px solid #dedede;
}

.white-border-top {
	border-top: 1px solid #fff;
}

.med-border-top {
	border-top: 1px solid #5f5f5f;
}

.med-border-bottom {
	border-bottom: 1px solid #5f5f5f;
}

.med-border-right {
	border-right: 1px solid #444;
}

.med-border-left {
	border-left: 1px solid #444;
}