.row-fluid {

	.half, .one-third, .one-sixth, .two-thirds, .span60-40, .span40-60, .span20-80, .span80-20, .span10-90, .span90-10 {
		margin-right:0;
		margin-left:0;
		padding-right:0;
		padding-left:0;
		border:none;
		float:left;
	}
	
	.half-left-true {
		margin-left: -100%;
	}

	.half {
		width: 50%;
	}
	
	.one-third {
		width:33.3333333333333333%;
	}
	.two-thirds {
		width:66.6666666666666666%;
	}
	.one-sixth {
		width:16.5%;
	}

	.span60-40 {
		width: 60%;
	}

	.span40-60 {
		width: 40%;
	}
	
	.span20-80 {
		width: 20%;
	}

	.span80-20 {
		width: 80%;
	}

	.span10-90 {
		width: 10%;
	}

	.span90-10 {
		width: 90%;
	}

}

.med-width-padding {
	padding-left:10%;
	padding-right:10%;
	width: 80%;
}

.small-width-padding {
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

.width-padding {
	padding-left: 4%;
	padding-right: 4%;
	width: 92%;
}
.no-width-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-width-margin {
	margin-left: 0;
	margin-right: 0;
}

.width-margin {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.height-200 {
	height: 200px;
}

.max-width-600 {
	max-width: 600px;
	margin: 0 auto;
}


.max-width-400 {
	max-width: 400px;
	margin: 0 auto;
}




/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.hides-phone {
		display: none;
	}
	.expands-phone {
		width: 100% !important;
	}

	.span10-90.expands-phone {
		width: 20% !important;
	}
	.span90-10.contracts-phone {
		width: 80% !important;
	}
  
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	.hides-phone {
		display: none;
	}
	.expands-phone {
		width: 100% !important;
	}
	.span10-90.expands-phone {
		width: 20% !important;
	}
	.span90-10.contracts-phone {
		width: 80% !important;
	}
}
