.hide-overflow {
	overflow: hidden;
}

.hide-overflow-x {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: scroll;
}

.no-radius {

	@include border-radius(0px);
}

.no-max-width {
	max-width: none;
}

.no-left-margin {
	margin-left:0;
}

.no-right-margin {
	margin-right:0;
}

.no-top-padding {
	padding-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0;
}

.no-top-margin {
	margin-top:0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.no-text-shadow {
	text-shadow: none;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.overflow-y-phone {
		overflow-y: scroll;
	}

}
