// shadows

.shadow-ninja.right-light {
	@include box-shadow(4px 0 3px -3px rgba(100,100,100, 0.2));
}

.shadow-ninja.right-light.inset, .shadow-ninja.right-light.inset .copy-shadow {

	.light-back-hover.copy-shadow:hover {
		@extend .shadow-ninja.right-light.inset;
	}
	@include box-shadow(inset -4px 0 3px -3px rgba(100,100,100, 0.2));
	position: relative;
	z-index: 1;
}

.shadow-ninja.left-light.inset, .shadow-ninja.left-light.inset .copy-shadow {

	.light-back-hover.copy-shadow:hover {
		@extend .shadow-ninja.left-light.inset;
	}

	@include box-shadow(inset 4px 0 3px -3px rgba(100,100,100, 0.2));
	position: relative;
	z-index: 1;
}


.shadow-ninja.bottom-light.inset {
	@include box-shadow(0 -15px 15px -6px rgba(#333, 0.2) inset);
}

.shadow-ninja.top-light.inset {
	@include box-shadow(0 5px 15px -6px rgba(#333, 0.2) inset);
}

.shadow-ninja.light.inset {
	@include box-shadow(0 0 15px 0px rgba(#333, 0.5) inset);
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.shadow-ninja.left-dark,
	.shadow-ninja.right-dark,
	.shadow-ninja.right-light,
	.shadow-ninja.right-light.inset,
	.shadow-ninja.left-light.inset,
	.shadow-ninja.left-dark.right-light,
	.shadow-ninja.left-dark.right-dark,
	.shadow-ninja.top-dark,
	.shadow-ninja.top-dark.inset,
	.shadow-ninja.top-med,
	.shadow-ninja.top-light {
		@include box-shadow(none);
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	// .hides-phone {
	// 	display: none;
	// }
	// .expands-phone {
	// 	width: 100% !important;
	// }
	// .span10-90.expands-phone {
	// 	width: 100% !important;
	// }
}
