<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="transitionBack()">
      Back
    </a>

        <h1 class="human title">Angular State Manager</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-sitemap small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
          	<h4 class="punchy">Ui-router</h4>
            
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        <span class="muted">We use <span class="bold"><a href="https://github.com/angular-ui/ui-router">ui-router</a></span> instead of the core Angular router because it handles application states excellently, a lot like the <a href="http://emberjs.com/api/classes/Ember.Router.html">Ember.Router</a>. This is important when building a large complex app, as you often need a better way to handle nested views, parent views and have the ability to override them depending on the application's state.</span>

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/about" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
