<div class="row-fluid">
	<div class="navi-bar-title dark trans">
		<h1 class="punchy title trans">About</h1>
	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-info-sign small-right-margin"></i></h1>				
			</div>
			<div class="row-fluid bottom-margin">
				<div class="row-fluid center-align">
					<span class="muted">We love Parse, Backbone.js and AngularJS. We hate servers.<br/><br/>Whilst building <a href="https://www.getbrandid.com">getbrandid.com</a> we developed some best practices around this stack, so we decided to open source it here. We even talked about it on the <a target="_blank" href="http://blog.parse.com/">Parse Blog</a>.<br/><br/>This boilerplate is great for launching complex database enabled apps really fast. Let us know what we can improve via twitter!</span>
				</div>	
				<div class="row-fluid small-top-margin">
				<a href="https://twitter.com/spacenick" class="twitter-follow-button" data-show-count="false">Follow @spacenick</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> <a href="https://twitter.com/arush" class="twitter-follow-button" data-show-count="false">Follow @arush</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			</div>
			
		</div>
		<div class="row-fluid white-back withShadow withRadius center-align">
			

			<a href="{{item.path}}"
				class="block row-fluid top-padding bottom-padding relative light-border-bottom white-border-top line height-med"
				ng-repeat="item in masterDetailCtrl.about"
				ng-animate="{ enter: 'waveForward-enter', leave: 'waveForward-leave' }"
			>
				<div class="span11 muted left-align">
					<div class="med-width-padding">
						<div class="pull-left small-right-margin">
							<i class="icon {{item.icon}} icon-large muted small-right-margin"></i><span class="small-left-margin punchy bold">{{item.title}}</span> 
						</div>
					</div>
				</div>
				
				<div class="span1 muted pull-right"><i class="icon icon-chevron-right"></i></div>
			</a>

		</div>
	</div>
		
</div>
<div class="row-fluid ani delay-3 fadeIn" ng-include src="'app/views/footer.html'"></div>