.slide-left-enter, .slide-left-leave,
.slide-right-enter, .slide-right-leave {
  // -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  // -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  // -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  // transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  @include trans(300ms);
  position: absolute;

  .hide-on-animate {
  	display:none;
  }
}

.slide-right-enter {
	margin-left: 100%;
}
.slide-right-enter-active {
	margin-left: 0;
}

.slide-right-leave {
	margin-left: 0;
}
.slide-right-leave-active {
	margin-left: 100%;
}


.slide-left-enter  {
	margin-left: -100%;
}
.slide-left-enter-active  {
	margin-left: 0;
}

.slide-left-leave  {
	margin-left: 0;
}
.slide-left-leave-active  {
	margin-left: -100%;
}



// animate buttons and titles inside slides... notice they already have the 'trans' class applied in the markup, so no need to set transition properties


.slide-right-enter {
  [class*="navi-button"], h1.title {
    @include opacity(0);
  }
}
.slide-right-enter-active {
  [class*="navi-button"], h1.title {
    @include opacity(1);
  }
}


.slide-left-enter  {
  [class*="navi-button"], h1.title {
    @include opacity(0);
  }
}
.slide-left-enter-active  {
  [class*="navi-button"], h1.title {
    @include opacity(1);
  }
}
