<div class="row-fluid big-top-margin width-padding big-bottom-margin hide-on-animate">
	<div class="muted white-back withShadow withRadius">
		<div class="row-fluid width-padding top-padding bottom-padding machine">
			<img src="http://brandid.s3.amazonaws.com/logo.png" alt="BRANDiD Logo" style="margin-top: 3px;" class="pull-left small-right-margin" width="70px"> If you found this useful, consider kicking shopping's ass at <a href="http://www.getbrandid.com">getbrandid.com</a>
		</div>
	</div>
</div>