<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="transitionBack()">
      Back
    </a>

        <h1 class="human title">Angular Animations</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-sitemap small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
          	<h4 class="punchy">Angular Class Based Animations</h4>
            
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        <span class="muted">We use <span class="bold"><a href="https://github.com/brandid/animate-helpers.scss">animate-helpers.scss</a></span> which is a library we wrote that allows us to easily customise the famous <a href="https://github.com/daneden/animate.css">Animate.css</a> library for use with Angular 1.2 class based animations. Read more on that <a href="http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html">here</a>.</span>
      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/about" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
