<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/features">
      Back
    </a>

        <h1 class="human title">Parse Angular Wrapper</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-cloud small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">A Service to Wrap All Parse Calls</h4>
            <span class="muted">Saving you from writing the same code over and over</span>
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        We really love AngularJS. However, you often hit the WTF ZONE of Angular, especially when you try to update scope variables outside of the "Angular Kingdom". Since all your data will be pulled in asynchronously from Parse, you'll run in to this issue pretty quickly.

        <br/><br/>
        So we wrote <strong><a href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseQueryAngular.js">ParseQueryAngular</a></strong>, a simple AngularJS wrapper for the Parse JS SDK, saving gazillions of lines of code (at least), and we're also using deferred promises, because they're awesome. This allows you to call any Parse API method on any Parse.Object, pass in any parameters, and it wraps the result in a promise <em>inside</em> the "Angular Kingdom".

Here's an example:<em></em><br/><br/>
<pre>ParseQueryAngular(Parse.FacebookUtils,{functionToCall:"link", params:[user, "email,user_likes,publish_actions"]})</pre>
        <br/>This single line of code calls Parse.FacebookUtils.link to connect the current Parse User with their Facebook account, and passes in some parameters for permissions and wraps the result in an AngularJS promise.

        <br/><br/>If you're familiar with the Parse docs, you 'll notice something magical here: there is no need to write the same old success: and error: functions every time you make an API call to Parse.

        <br/><br/>If you're familiar with AngularJS you'll also notice something magical here: the result of the API call is automatically wrapped into the AngularJS digest for use within your $scope. No need to do any<strong> $scope.$apply </strong>nonsense. Here's another example that we do all the time:<br/><br/>
<pre>var user = new Parse.User();

user.set('username', 'spacenick');
user.set('password', 'sp4c3n1ck');
user.set('email','space@nick.com');

ParseQueryAngular(user,{functionToCall:"signUp", params:[null]}).then(function(registeredUser) {

    // since we know that the result will be inside the Angular digest, we make use of Angular's two-way data binding and automatically update all our views by simply updating the user object

    user = registeredUser;

    // we can even use it with Parse.Query
    var query = new Parse.Query(MyObject);
    query.include('myStuff').equalTo('someRandom','thing');
    return ParseQueryAngular(query);
}).then(function(queriedObj) {

    // assuming $scope.obj is used elsewhere in the app, this would update any views automatically
    $scope.obj = queriedObj;

    return queriedObj;
}, function(error) {

    // any rejected promises in the chain will be caught here
    console.log(error);

});</pre>
<br/>
Without ParseQueryAngular, doing two API calls one after the other would have been a nightmare of asynchronous spaghetti mess with lots of repetitive callback handling code. We just tamed it into a synchronous process and our AngularJS views would have been auto-updated every step of the way thanks to two-way data binding.

<br/><br/>We also didn't need write any repetitive success: error: functions. This is the guts of creating a seamless Parse x Angular integration, we use this anytime we need talk to Parse. Check out the <strong><a href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseQueryAngular.js">ParseQueryAngular</a></strong> source and read the code comments on how we did this.

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/features" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
