<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/features">
      Back
    </a>

        <h1 class="human title">AngularJS & Backbone</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-heart small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">AngularJS + Backbone.js = <i class="icon icon-heart"></i></h4>
            <span class="muted">AngularJS for views, Backbone for models</span>
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        The awesome thing about the Parse Javascript SDK is that it's a fork of Backbone, so we can make use of the kickass Model and Collection architecture, but still use AngularJS for all UI events and views (this is where Backbone loses out to other frameworks).<br/><br/>

The best way to stay organised is to separate each Parse Object definition into a separate file in a <strong>data</strong> folder. Each data module defines a new sub-module (that we label with dots to separate our app per different kind of modules). Here's what our folder structure looks like with this architecture.<br/><br/>
NB: To understand what's happening here, please check our <a href="https://github.com/brandid/parse-angular-patch" target="new">parse-angular-patch repo</a>.<br/><br/>
<pre>|-- app
  |-- scripts
    |-- modules
      |-- data
        // this is where all your model definitions 
        |-- Monster.js</pre>
And this is what a Parse Object definition would look like:<br/><br/>

<strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/modules/data/Monsters.js">Monsters.js</a></strong>

<pre>// Monster.js

// create our new data submodule
angular.module('brandid.data.Monster')
// override models when the module is loaded
.run(function() {

  // Define the Monster model
  var Monster = Parse.Object.extend({
    className:"Monster",
    attrs: ['scaryMove', 'anotherField'] // we can define getters & setters thanks to parse-angular-patch
  });
  
  // We define our collection methods here
  var Monsters = Parse.Collection.extend({
    model: Monster,
    className: "Monster",
    loadMonstersWithMove: function(move) {
      this.query = (new Parse.Query(Monster));

      // use the enhanced load() function to fetch the collection
      return this.load();
    }
  });

}])</pre><br/>
Now wherever we need a Monster model or collection, like in the directive below, we can instantiate it like this, thanks to the parse-angular-patch.<br/><br/>
<pre>// SomeDirective.js

// inject the MonsterService into your directive

angular.module('foo',[]).directive('bar',function() {

  return {
    controller: ['$scope','$element','$attrs', function($scope, $element, $attrs) {

      // new up a collection so we can use it to perform a query
      var monsters = new (Parse.Collection.getClass("Monster"));

      // perform the Parse.Query
      $scope.monsters = monsters.loadMonstersWithMove('fireBreath');

      // and remember its a promise, so we can add synchronous logic here with a .then()

    }
  }]

}])</pre><br/>

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/features" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
