<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/features">
      Back
    </a>

        <h1 class="human title">Extend Parse SDK</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-cogs small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">Give Parse AngularJS Superpowers</h4>
            <span class="muted">Extending Parse.Object gives all your Parse data load() and save() methods auto wrapping them in AngularJS promises</span>
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        With the simple code below, we beefed up all our Parse objects and collections with enhanced functionality, allowing us to save and load any Parse.Object or Parse.Collection inside the AngularJS digest with finesse.<br/><br/>
<strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseServices.js">ParseServices.js</a></strong>
<pre>
  Parse.Object.extendAngular = function(options) {
    return ParseAbstractService.EnhanceObject(Parse.Object.extend(options));
  };

  Parse.Collection.extendAngular = function(options) {
    return ParseAbstractService.EnhanceCollection(Parse.Collection.extend(options));
  };
</pre>
<br/>It doesn't take a genius to notice that this requires something we called ParseAbstractService, which is a simple bit of code that adds the Parse.Object and Parse.Collection methods.<br/><br/>

<strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/modules/data/_ParseObjects.js">_ParseObjects.js</a></strong>

<pre>angular.module('ExternalDataServices',[])
.factory('ParseAbstractService', ['ParseQueryAngular', function(ParseQueryAngular) {
 /********
 This service provides an enhanced Parse.Object and Parse.Collection
 So we can call load and saveParse from any extending Class and have that wrapped
 within ParseQueryAngular
 **********/

  var object = function(originalClass) {
    originalClass.prototype = _.extend(originalClass.prototype,{
      load:function() {
        return ParseQueryAngular(this,{functionToCall:"fetch"});
      },
      saveParse:function(data) {
        if (data &amp;&amp; typeof data == "object") this.set(data);
        return ParseQueryAngular(this,{functionToCall:"save", params:[null]});
      }
    });
   return originalClass;
  }

  var collection = function(originalClass){
    originalClass.prototype = _.extend(originalClass.prototype,{
      load:function() {
        return ParseQueryAngular(this,{functionToCall:"fetch"});
      }
    });
    return originalClass;
  };

  return {
    EnhanceObject:object,
    EnhanceCollection:collection
  }
}]);</pre><br/>
We can now make use of these new methods on any models or collections that extend Parse.Object.extendAngular or Parse.Collection.extendAngular, like so:<br/><br/>
<pre>// =============
// new way using enhanced Parse.Object
// =============

var collection = new TestCollection();
collection.load();</pre><br/>
For a clearer idea of how much more awesome this is, below is the old way:<br/><br/>
<pre>// ============
// old way
// ============

var collection = new TestCollection();

var defer = $q.defer();

// fetch all models
collection.fetch({
  success: function(result) {
    $rootScope.$apply(function() {
      defer.resolve(result);
  },
  error: function(error) {
    $rootScope.$apply(function() {
      defer.reject(error);
    }
  }
});

defer.promise.then(function(data) {

  collection = data;
  // now, finally the collection is ready to use in AngularJS
});</pre><br/>
Yuck! And you would have to repeat all that for every save or fetch!

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/features" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
