<header class="row-fluid center-align">
	<div class="row-fluid top-margin">
		<h2 class="lightest-text text-shadow human" style="text-transform:none">Parse x AngularJS Boilerplate</h2>	
	</div>

	<div class="row-fluid small-top-margin">
		<iframe src="http://ghbtns.com/github-btn.html?user=brandid&repo=parse-angular-demo&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  		<iframe src="http://ghbtns.com/github-btn.html?user=brandid&repo=parse-angular-demo&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

  	</div>

	<div class="row-fluid top-margin small-bottom-margin max-width-600">
		<div class="well muted withShadow">
			<div class="row-fluid small-bottom-margin machine">
				A battle-tested boilerplate for building large, powerful, serverless apps with AngularJS and Parse, including angular wrappers for the Parse SDK, Parse Cloud Code, Facebook SDK and more.
			</div>
			<div class="row-fluid">
				
				<iframe allowtransparency="true" frameborder="0" scrolling="no"
              src="//platform.twitter.com/widgets/tweet_button.html?text=Pretty cool @Parseit x @AngularJS boilerplate http://brandid.github.io/parse-angular-demo by @BRANDiD"
              style="width:90px; height:20px;"></iframe>

				
			</div>
			<hr>
			<div class="row-fluid">
				<div class="row-fluid machine">
					Follow the discussion on <a href="https://news.ycombinator.com/item?id=6567104">HackerNews</a>
				</div>

			</div>
			<div class="row-fluid small-top-margin">
				<iframe allowtransparency="true" frameborder="0" scrolling="no"
              src="//platform.twitter.com/widgets/follow_button.html?screen_name=spacenick&size=small"
              style="width:200px; height:20px;"></iframe>
				<iframe allowtransparency="true" frameborder="0" scrolling="no"
              src="//platform.twitter.com/widgets/follow_button.html?screen_name=arush&size=small"
              style="width:200px; height:20px;"></iframe>

				
			</div>
				
			
		</div>

	</div>

	
	<a href="https://github.com/brandid/parse-angular-demo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
</header>